
h1{
    color: rgb(141, 48, 228);
}

nav{
    color: rgb(39, 171, 171);
}

h2{
    color: rgb(18, 42, 150);
}

footer{
    color: rgb(27, 27, 214);
}

h1, h2{
    font-family: "Poppins"
}

nav, ul, li, a,figcaption, p{
    font-family: "Nunito Sans"
}